<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/auth.css}" type="text/css" rel="stylesheet"/>
    <title>Sign up</title>
</head>
<body>
<div th:fragment="content">
    <form class="default-form" name="f" th:action="@{/signup}" th:object="${user}" method="post">
        <h2>Please sign up</h2>
        <div th:if="${param.error}" class="alert alert-danger">
            User already exists.
        </div>
        <p>
            <label for="name" class="name"></label>
            <input th:field="*{name}" type="text" id="name" name="name" placeholder="Name" required="" autofocus="">
        </p>
        <p>
            <label for="username" class="screenreader">Username</label>
            <input th:field="*{username}" type="text" id="username" name="username" placeholder="Username" required="">
        </p>
        <p>
            <label for="password" class="screenreader">Password</label>
            <input th:field="*{password}" type="password" id="password" name="password" placeholder="Password"
                   required="">
        </p>
        <button type="submit" class="primary">Sign up</button>

        <a href="/login">login?</a>
    </form>

</div>
</body>
</html>